body{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png);
}
header{
    background-color: white;
    grid-row-gap:2em;
    font-style: normal;
    padding:5px;
    border-radius:5px;
    height:100px;
}

h1{
    background-color:teal;
    height:50px;
    padding:15px;
    border:1px solid;
    box-sizing: border-box;
margin-top:2px;
width:300px;
float: left;
}
#container{

    max-width: 960px;
    margin:0 auto;
}
nav{
    float:right;
}

.painting{
    width:200px;
    height:200px;
}
.laptop{
    width:200px;
    height:200px;
}
.traveling{
    width:200px;
    height:200px;
}

#images{
    position:relative;
    margin-left: auto;
    margin-right:auto;
    width:20px;
    background-color: white;
    box-sizing: border-box;
    padding:15px;
    max-width: 960px;
    margin:0 auto;

}




footer{
    background-color:grey;
    padding:6px;
    border-top: 6px solid teal;
    text-align: center;
}