body{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png);
}
header{
    background-color: white;
    grid-row-gap:2em;
    font-style: normal;
    padding:5px;
    border-radius:5px;
    height:100px;
}
#container{

    max-width: 960px;
    margin:0 auto;
}
h1{
    background-color:teal;
    height:50px;
    padding:15px;
    border:1px solid;
    box-sizing: border-box;
margin-top:2px;
width:300px;
float: left;
}
nav{
    float:right;
}

#wrapper{
    background-color: white;
    box-sizing: border-box;
    padding:10px;
    max-width: 960px;
    margin:0 auto;
    height:500px;
}
h2{
    color:teal;
    border-bottom: 1px solid grey;
}
footer{
    background-color:grey;
    padding:4px;
    border-top: 6px solid teal;
    text-align: center;
}