body{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png);
}

#container{
    max-width: 960px;
    background-color: white;
    grid-row-gap:1em;
    font-style: normal;
    height:80px;
    margin: 0 auto;
}

h1{
background-color: white;
height:80px;

}
nav{
    float:right;
}
img{
    float:left;
    margin-right:20px;
    max-width: 960px;
}
p{
    max-width: 960px;
    grid-column-gap: 1em;
    background-color: white;
}
#about{
    max-width: 960px;
    margin:0 auto;
}
